<!-- ▼ 41774.body / watchTsFontScript / start ▼ -->
<script>

	// 丸バナー表示判別
	let locationHref_str = location.href;
	let chkDir = /(cardloan|omatome|npw|refinancing)/;
	const url = new URL(location.href);
	console.log(url.pathname);
	url.pathname.startsWith("/cardloan/");


	// 監視対象の配列
	const TsFontKeyArray = [];//DOM読み込みのタイミングで格納するグローバル変数
	const TsFontFinishArray = [];// 監視用の配列
	let previousArr = TsFontFinishArray.slice();// 変更前と変更後を比較するようの配列（slice()で参照渡しを回避）

	// 実行される関数
	async function setTsFont() {
		if (typeof locationHref_str !== 'undefined') {
			// locationHref_strに指定の文字列が含まれているか
			if (locationHref_str.match(chkDir) === null || !url.pathname.startsWith("/cardloan/")) {
				loadCpIcon();// CPチャットボット上アイコン
				loadPopoIcon()// CPチャットボットアイコン
				loadHelpFeel()//HELPFEELフローティングバナー
				loadUserLocal()//ぽっぽくんフローティングバナー
				// console.log('p1')
			} else if (locationHref_str.match(/(cashing|cid=PE11H900)/)) {
				const styleElement = document.querySelector("style")
				styleElement.insertAdjacentHTML("beforeend", ".ul-widget-main-window.ul-widget-hide, #AIFULID20240626 {display: none !important;}");
				loadUserLocal();
				// console.log('p2')
			}
		} else {
			loadCpIcon();
			loadPopoIcon()
			loadUserLocal()
			loadHelpFeel()
			// console.log('p3')
		}

		await Ts.loadFont()
		//console.log("TSフォントローディング完了");
		//console.log(TsFontKeyArray,TsFontFinishArray);
	}

	// Proxyを使用して配列を監視
	const TsObserve = new Proxy(TsFontFinishArray, {
		set: (target, property, value) => {

			// 元の配列を変更
			target[property] = value;

			// 特定の条件に応じて関数を実行
			// if (property === "length" || !isNaN(property)) {
			const hasChanged = JSON.stringify(previousArr) !== JSON.stringify(target)
			if (hasChanged && (target.length === TsFontKeyArray.length) && (TsFontKeyArray.length > 0)) {
				setTsFont();
			}

			previousArr = target.slice()
			// setメソッドの戻り値
			return true
		},
	});


	//ぽっぽくん発火用スクリプト
	function loadUserLocal() {
		(function (c, n, s) {
			if (c[n] === void 0) {
				c['ULObject'] = n;
				c[n] = c[n] || function () { (c[n].q = c[n].q || []).push(arguments) };
				c[n].l = 1 * new Date(); var e = document.createElement('script');
				e.async = 1; e.src = s + "/chatbot.js";
				var t = document.getElementsByTagName('script')[0]; t.parentNode.insertBefore(e, t);
			}
		})(window, 'ul_widget', 'https://support-widget.userlocal.jp');
		ul_widget('init', { 'id': '931054826960af2e7c80', 'lg_id': '' });
		ul_widget('hide');
		ul_widget('event', 'popup_close', function () { ul_widget('hide'); });

		function buttonClick() {
			ul_widget('popup_open');
			ul_widget('sendUserText', 'オペレーターに相談♪（平日9時から18時）');
			ul_widget('show');
		}
		var btnToOperator = document.querySelectorAll('.summonOperator');
		var btnToOperators = Array.from(btnToOperator)
		btnToOperators.forEach(t => { t.addEventListener('click', buttonClick) });

		function buttonClick2() {
			ul_widget('popup_open');
			ul_widget('show');
		}
		var btnToPopo = document.querySelectorAll('.summonPopo');
		var btnToPopos = Array.from(btnToPopo)
		btnToPopos.forEach(t => { t.addEventListener('click', buttonClick2) });
	}

	//ヘルプフィール発火用スクリプト
	function loadHelpFeel() {
		var helpfeelScript = document.createElement('script');
		helpfeelScript.async = true;
		helpfeelScript.src = "https://helpfeel.com/projects/js/helpfeel-element.js";
		helpfeelScript.setAttribute('data-project-name', 'aiful-faq');
		document.body.appendChild(helpfeelScript);

		// バナー表示用のスクリプト
		(function () {
			const delayTime = 0; //再表示する際の遅延時間（秒単位）
			const displayPageIntervals = 3; //再表示するまでのページ数
			const floatBanner = document.getElementById('AIFULID20230516');
			const closeBtn = floatBanner.querySelector('.helpfeel-modal-closeBtn');
			const pageNum = window.history.length;
			const sessionName = sessionStorage.getItem('__popupClose');

			//セッション情報から消したページ数と現在の履歴の差分を割り出し、設定値（displayPageIntervals）と比較して出し分ける
			if ((sessionName == undefined) || (pageNum - Number(sessionName) >= displayPageIntervals)) {
				setTimeout(() => {
					floatBanner.style.display = 'block';
				}, delayTime * 1000);
			}

			//クローズボタンをクリックでバナー非表示
			closeBtn.addEventListener('click', function (e) {
				floatBanner.style.display = 'none';
				sessionStorage.setItem('__popupClose', window.history.length);
			});
		})();
	}
</script>
<style>
	.ul-widget-main-window.ul-widget-hide {
		z-index: 1000000 !important;
	}
</style>
<style>
	#AIFULID20230516 {
		display: none;
	}

	#AIFULID20230516 .helpfeel-modal-closeBtn {
		position: absolute;
		top: -0.2em;
		right: -0.2em;
		width: max(15%, 1em);
		height: max(15%, 1em);
		cursor: pointer;
		font-size: max(2.8vw, 18px);
		max-width: 24px;
	}

	#AIFULID20230516 .helpfeel-modal-closeBtn::before,
	#AIFULID20230516 .helpfeel-modal-closeBtn::after {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		height: 2px;
		background-color: #333;
		z-index: 1;
		transform-origin: left top;
	}

	#AIFULID20230516 .helpfeel-modal-closeBtn::before {
		transform: rotate(45deg) translate(-50%, -50%);
	}

	#AIFULID20230516 .helpfeel-modal-closeBtn::after {
		transform: rotate(-45deg) translate(-50%, -50%);
	}

	#AIFULID20230516 img {
		height: auto;
		width: 100%;
	}

	.helpfeel-modal-btn:hover {
		cursor: pointer;
	}

	@media screen and (min-width: 769px),
	print {
		#AIFULID20230516 {
			width: 110px;
			position: fixed;
			bottom: 10px;
			right: 130px;
			z-index: 1000000;
		}

		#AIFULID20240626 {
			width: 110px;
			position: fixed;
			bottom: 10px;
			right: 10px;
			z-index: 1000000;
		}

		#AIFULID20240626 img {
			height: 100%;
			width: 110px;
		}
	}

	@media screen and (max-width: 768px) {
		#AIFULID20230516 {
			width: 70px;
			position: fixed;
			bottom: 8px;
			right: 83px;
			z-index: 1000000;
		}

		#AIFULID20240626 {
			width: 70px;
			position: fixed;
			bottom: 8px;
			right: 8px;
			z-index: 1000000;
		}

		#AIFULID20240626 img {
			height: 100%;
			width: 70px;
		}
	}
</style>
<script>
	function loadCpIcon() {
		let insertId = document.getElementById("renew");
		insertId.insertAdjacentHTML('beforeend', '<div id="AIFULID2021012101" onclick="ga(\'send\',\'event\',\'oLink\',\'現金プレゼント実施中！詳細はこちら\')" >' +
			'<a href="/cashing/ld10/?aff=11011333&utm_source=notice&utm_medium=house&utm_campaign=CP_A">' +
			'<img src="/assets/images/nav/campaign_red.webp" width="246" height="238">' +
			'</a></div>');
	}
	function loadPopoIcon() {
		let insertId = document.getElementById("renew");
		insertId.insertAdjacentHTML('beforeend', '<div id="AIFULID20240626">' +
			'<a  class="summonPopo" href="javascript:void(0);" onclick="ga(\'send\',\'event\',\'link\',\'click\',\'あなたの質問にぽっぽくんが答えます\')">' +
			'<img src="/assets/images/nav/202408/icon_chatbot_tanabata.png" width="220" height="220">' +
			'</a></div>');
	}
</script>
<style>
	/* チャットボットアイコン */
	@media screen and (min-width: 769px),
	print {
		#AIFULID2021012101 {
			width: 110px;
			position: fixed;
			bottom: 130px;
			right: 10px;
			z-index: 1000000;
		}
	}

	@media screen and (max-width: 768px) {
		#AIFULID2021012101 {
			width: 70px;
			position: fixed;
			bottom: 83px;
			right: 8px;
			z-index: 1000000;
		}
	}

	#AIFULID2021012101 img {
		height: 100%;
		width: 100%;
	}
</style>
<!-- ▲ 41774.body / watchTsFontScript /  end  ▲ -->