---
const { title, description, ogUrl, ogImage, favicon } = Astro.props;
---
<html lang="ja">
  <head>
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="icon" href={favicon} />
  </head>
  <body>
    <slot />
  </body>
</html>
