---
import Layout from '../../layouts/Layout.astro';
import Faq from '../../components/Faq.astro';

---

<Layout>
　<!-- ここに書けばOKです -->
  <h1>お知らせ</h1>
  <p>お知らせの記事を書きます</p>
  <p>単純なHTMLでOK</p>
  <!-- ここに書けばOKです -->
</Layout>
